<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<codeBase version="4.6.1.0" href="path_to_your_assembly/System.Data.SqlClient.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>